$color-white: #fff;
$background: #3b3b3b;
$Call-to-Action: #a259ff;
$font-Space-Mono: "Space Mono";
$font-Work-Sans: "Work Sans";

.subscribe-widget {
  padding: 40px 115px 80px 115px;

  .subscribe {
    display: flex;
    width: 1050px;
    padding: 60px;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    background: $background;
    flex-wrap: wrap;

    .subscribe-join {
      width: 100%;
      max-width: 425px;
      .text {
        color: $color-white;
        font-family: $font-Work-Sans;
        font-style: normal;
        text-transform: capitalize;
        .text-top {
          font-size: 38px;
          font-weight: 600;
          line-height: 120%;
        }
        .text-bottom {
          font-size: 22px;
          margin-top: 10px;
        }
      }
      .subscribe-form {
        margin-top: 40px;
        display: flex;
        background-color: $color-white;
        border-radius: 20px;
        position: relative;
        input {
          display: flex;
          height: 60px;
          padding: 16px 0px 16px 20px;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          border-radius: 20px;
          background: $color-white;
          font-family: $font-Work-Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          border: none;
          color: #2b2b2b;
        }
        .subscribe-btn {
          position: absolute;
          right: 0;
          color: $color-white;
          display: flex;
          font-family: $font-Work-Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          height: 60px;
          padding: 0px 50px;
          justify-content: flex-end;
          align-items: center;
          gap: 12px;
          border-radius: 20px;
          background: $Call-to-Action;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
}
