.top-rated-artists {
  .top-rated-content {
    padding: 80px 115px;

    .top-rated-text {
      display: flex;
      width: 1050px;
      align-items: flex-end;
      gap: 100px;
      justify-content: space-between;

      .text {
        color: #fff;
        font-family: "Work Sans";
        font-style: normal;
        text-transform: capitalize;
        display: flex;
        //   width: 703px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        .text-top {
          font-size: 38px;
          font-weight: 600;
          line-height: 120%; /* 45.6px */
        }
        .checkout-text {
          font-size: 22px;
          font-weight: 400;
          line-height: 160%; /* 35.2px */
        }
      }

      .btn-view-rankings {
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        color: #fff;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        border-radius: 20px;
        border: 2px solid var(--Call-to-Action, #a259ff);
        user-select: none;
        cursor: pointer;
      }
    }
    .cards-artists {
      margin-top: 60px;
      display: flex;
      width: 1050px;
      align-items: flex-start;
      gap: 30px;
      flex-wrap: wrap;
      .card {
        display: flex;

        .card-content {
          border-radius: 20px;
          padding: 20px;
          background-color: #3b3b3b;

          .number-and-img {
            display: flex;
            position: relative;
            .number-card {
              position: absolute;
              width: 30px;
              height: 30px;
              background: var(--Background, #2b2b2b);
              text-align: center;
              /* Base (Body) - Space Mono */
              font-family: "Space Mono";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              border-radius: 50%;
              span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 4px 10px;
                color: var(--caption-label-text, #858584);
              }
            }
            img {
              display: flex;
              margin: 0 auto;
              margin: 0 35px 0 45px;
            }
          }
        }
        .text-name-price {
          margin-top: 20px;
          .text-name {
            color: #fff;
            text-align: center;
            /* H5 - Work Sans */
            font-family: "Work Sans";
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitaliz;
          }
          .text-price {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            p {
              color: var(--caption-label-text, #858584);
              text-align: right;
              /* Base(Body) - Work Sans */
              font-family: "Work Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
            }
            .price {
              color: var(--Text, #fff);
              /* Base (Body) - Space Mono */
              font-family: "Space Mono";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
            }
          }
        }
      }
      .btn-view-rankings-hidden {
        display: none;
      }
    }
  }
}
