@media (max-width: 834px) {
  .browse-categories {
    padding: 40px 72px;
    .browse {
    }
    .category-cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: stretch;
      .card {
        max-width: 150px;
        display: flex;
        flex-direction: column;

        .img-browse {
          display: flex;
          position: relative;

          .browse-bg {
            max-width: 150px;
          }
          .browse-icon {
            width: 80px;
            height: 80px;
          }
        }

        .browse-text {
          width: 100%;
          flex-grow: 1;

          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 830px) {
  .browse-categories {
    padding: 40px 72px;
    .browse {
    }
    .category-cards {
      width: 690px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 30px;
      align-items: stretch;
      .card {
        max-width: 140px;
        display: flex;
        flex-direction: column;

        .img-browse {
          display: flex;
          position: relative;

          .browse-bg {
            max-width: 140px;
          }
          .browse-icon {
            width: 80px;
            height: 80px;
          }
        }

        .browse-text {
          width: 100%;
          flex-grow: 1;

          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 624px) {
  .browse-categories {
    padding: 40px 72px;
    .browse {
    }
    .category-cards {
      width: 600px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 15px;
      align-items: stretch;
      .card {
        max-width: 140px;
        display: flex;
        flex-direction: column;

        .img-browse {
          display: flex;
          position: relative;

          .browse-bg {
            max-width: 140px;
          }
          .browse-icon {
            width: 80px;
            height: 80px;
          }
        }

        .browse-text {
          width: 100%;
          flex-grow: 1;

          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
