$color-white: #fff;
$background: #3b3b3b;
$Call-to-Action: #a259ff;
$font-Space-Mono: "Space Mono";
$font-Work-Sans: "Work Sans";
@media (max-width: 926px) {
  .discover-more-nfts {
    padding: 40px 72px;

    .discover-content {
      .discover-text {
        width: 100%;
        max-width: 690px;
        .text {
          .text-top {
            font-size: 28px;
          }
          .text-bottom {
            font-size: 16px;
          }
        }
        .btn-see-all {
          display: none;
        }
      }
      .nft-cards {
        width: 100%;
        display: flex;

        flex-wrap: wrap;
        justify-content: center;
        width: 690px;
        gap: 30px;

        .card {
          .nft {
            display: flex;
          }
          .nft-info {
            padding: 20px 30px 25px 30px;
            background-color: $background;
            border-radius: 0 0 20px 20px;

            .info-content {
              color: $color-white;
              font-style: normal;

              .artist-name {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                padding-top: 5px;
              }
              .price {
                font-weight: 400;
                font-family: $font-Space-Mono;
              }
            }
          }
        }
      }
      .btn-see {
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        color: $color-white;
        text-align: center;
        font-family: $font-Space-Mono;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        border-radius: 20px;
        border: 2px solid $Call-to-Action;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 834px) {
  .discover-more-nfts {
    padding: 40px 72px;

    .discover-content {
      .discover-text {
        .text {
          .text-top {
            font-size: 28px;
          }
          .text-bottom {
            font-size: 16px;
          }
        }
      }
      .nft-cards {
        display: flex;
        max-width: 690px;
        align-items: flex-start;
        gap: 30px;

        .card-nft-hidden {
          display: none;
        }
        .card {
          .nft {
            display: flex;
          }
          .nft-info {
            padding: 20px 30px 25px 30px;
            background-color: #3b3b3b;
            border-radius: 0 0 20px 20px;

            .info-content {
              color: $color-white;
              font-style: normal;

              .artist-name {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                padding-top: 5px;
              }
              .price {
                font-weight: 400;
                font-family: $font-Space-Mono;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .discover-more-nfts {
    padding: 40px 72px;

    .discover-content {
      .discover-text {
        display: block;
        flex-direction: column;
        .text {
          .text-top {
            font-size: 28px;
          }
          .text-bottom {
            padding-top: 0px;
            font-size: 16px;
          }
        }
        .btn-see-all {
          margin-top: 20px;
          max-width: 250px;
        }
      }
      .nft-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 690px;
        align-items: flex-start;
        gap: 30px;

        .card-nft-hidden {
          display: none;
        }
        .card {
          .nft {
            display: flex;
            img {
              max-width: 315px;
            }
          }
          .nft-info {
            padding: 20px 30px 25px 30px;
            background-color: $background;
            border-radius: 0 0 20px 20px;

            .info-content {
              color: $color-white;
              font-style: normal;

              .artist-name {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                padding-top: 5px;
              }
              .price {
                font-weight: 400;
                font-family: $font-Space-Mono;
              }
            }
          }
        }
      }
    }
  }
}
