@media (max-width: 834px) {
  .trending-collection {
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 40px;

    .trading-text {
      width: 100%;
    }
    .collection-card {
      display: flex;
      width: 690px;
      align-items: flex-start;
      gap: 30px;

      .tablet-card-hidden {
        display: none;
      }
    }
  }
}
@media (max-width: 800px) {
  .trending-collection {
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 40px;

    .trading-text {
      width: 100%;
      padding-top: 0;
    }
    .collection-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 30px;
      width: 100%;
      margin-top: 20px;
      .mobile-card-hidden {
        display: none;
      }
      .tablet-card-hidden {
        display: none;
      }
    }
  }
}
